@import "main.css";

footer {
  background-color: var(--black_2);
  color: var(--white);

  margin-top: 5rem;
  padding: 0.4rem 1rem;
  text-align: center;
}
#copy a {
  color: var(--white);
  font-variant: small-caps;
  text-decoration: none;
}
#copy a:hover {
  text-decoration: underline;
}
