@import "main.css";

form#formulario-buscar-livro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
button#button-buscar {
  width: fit-content;
  padding: 0.6rem 2rem;
  margin-top: 1rem;

  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;

  background-color: var(--black_1);
  color: var(--white);
  font-size: 1.2rem;
}
button#button-buscar:hover {
  transition: 0.4s;
  background-color: var(--black_2);
}
