@import "main.css";

form#formulario-add-livro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
div.box-input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.box-input label {
  font-size: 1.5rem;
  font-variant: small-caps;
  color: var(--black_1);
}
.box-input input {
  font-size: 1.05rem;
  padding: 0.4rem;
}
