@import "main.css";

/* 
<div class="resultados">
    <p>
    Livro: < Nome > por < Gênero > 
    [Publicado em < Ano >] 
    [Avaliação: < avaliacao >]
    </p>

    <p>
    Livro: < Nome > por < Gênero > 
    [Publicado em < Ano >] 
    [Avaliação: < avaliacao >]
    </p>
    
    <p>
    Livro: < Nome > por < Gênero > 
    [Publicado em < Ano >] 
    [Avaliação: < avaliacao >]
    </p>
</div> 
*/

div.resultados {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.resultados p {
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--black_1);
}
