@charset "UTF-8";

:root {
  --cor_destaque: #140066;
  --cor_sub_destaque: #cf3c5c;
  --cor_curso: #cf3cc3;
  --font_principal: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_principal);
}

/* HEADER - CABEÇALHO */
header.cabecalho {
  width: 100%;
  max-width: 1024px;

  margin: 2em auto;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.cabecalho strong.titulo-header {
  color: var(--cor_destaque);
  font-size: 1.5em;
}
nav.links-header {
  display: flex;
  gap: 1em;
}
.cabecalho a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
}
.cabecalho a:hover {
  text-decoration: underline;
}
.cabecalho a.login {
  background-color: var(--cor_destaque);
  color: #fff;

  padding: 0.4em;
  border-radius: 5px;
}

/* MAIN - CONTEÚDO PRINCIPAL */
.largura-max {
  width: 100%;
  max-width: 1024px;

  margin: 1em auto;
  padding: 0 1em;
}

h1.titulo-main {
  font-size: 3em;
  font-weight: 600;

  margin: 2em 0;
}
.titulo-main span {
  color: var(--cor_sub_destaque);
}

/* SECTION - CURSOS */
section.container-cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box-cursos {
  padding: 0.8em;

  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.box-cursos h3 {
  font-size: 1.4em;
  font-weight: 600;
  font-variant: small-caps;

  color: var(--cor_destaque);
}
.box-cursos img {
  width: 100%;
  max-width: 250px;
  object-fit: cover;
}
