@charset "UTF-8";

/* CONFG GLOBAL - Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte_padrao);
  font-size: 1em;
}
:root {
  --fonte_padrao: Arial, Helvetica, sans-serif;

  --cor_de_fundo: #101010;
  --cor_primaria: #ba1d0a;
  --cor_segundario: #1bbc9b;
  --cor_borda: #444;
  --white: #fff;
}
body {
  background-color: var(--cor_de_fundo);
  color: var(--white);

  width: 100%;
  max-width: calc(500px + 2em);

  margin: auto;
  padding: 1em 2em;
}

/* header | cabeçalho */
header.cabecalho {
  padding: 5em 0 3em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.cabecalho img[alt="Logo Infinity School"] {
  width: 300px;
  object-fit: cover;
}

/* formuçário */
div.container_inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

div.box_input {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.box_input label {
  font-size: 0.9em;
  font-weight: 600;
}
.box_input input {
  background-color: #101010;
  color: var(--white);
  border: var(--cor_borda) 1px solid;

  padding: 0.6em 1em;
  border-radius: 4px;
  font-size: 0.95rem;
  position: relative;
}

div.box_help {
  margin: 2em 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

a.link {
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
.red_link {
  color: var(--cor_primaria);
}
.green_link {
  color: var(--cor_segundario);
}

div.botao {
  margin: 4em 0 2em;
  display: flex;
  justify-content: center;
}
button.entrar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 158px;
  height: 42px;

  border: none;
  border-radius: 20px;

  background-color: var(--cor_primaria);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
button.entrar:hover {
  opacity: 0.8;
}
