@charset "UTF-8";

h1#titulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
}
h2#subtitulo {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

form#form-gorjeta {
  background-color: rgb(224, 224, 224);
  border-radius: 5px;

  width: 100%;
  max-width: 500px;

  margin: 5rem auto;
  padding: 3rem 2rem;

  display: flex;
  flex-flow: column wrap;
  gap: 1.8rem;
}
h3#titulo-form {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

div.box-input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.box-input label {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}
.box-input :where(input, select) {
  font-size: 1.1rem;
  padding: 0.35rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #00000081;
  outline: 0;
}
.box-input :where(input, select):focus {
  border: 1px solid #00701381;
}
button#button_calcular {
  background-color: #00701381;
  color: #fff;
  font-size: 1.2rem;

  padding: 0.8rem 1rem;

  border-radius: 5px;
  border: none;
  outline: 0;
}

#container-valores p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
