@import "main.css";

/* MAIN - CONTEÚDO PRINCIPAL */
h1.titulo-main {
  font-size: 3em;
  font-weight: 600;

  margin: 2em 0;
}
h1.titulo-main span {
  color: var(--cor_sub_destaque);
}
.largura-max {
  width: 100%;
  max-width: 1024px;

  margin: 1em auto;
  padding: 0 1em;
}

/* SECTION - CURSOS */
section.secao-cursos {
  background-color: rgba(255, 0, 0, 0.199);
}

img {
  max-width: 250px;
}